@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    border-bottom: 2px solid black;
}

body {
    position: relative;
    margin: 0 0;
    max-width: 100vw;
    z-index: 0;
    overflow-x: hidden;
}


li, a, button, div {
    font-family: 'IBM Plex Sans Arabic', 'sans-serif';
    font-weight: bold;
    font-size: 1em;
}

.logo {
    order: 0;
    width: 100px;
    height: 50px;
    margin: 10px 0 10px 10px;
}

nav {
    margin: 10px 0 10px 0;
}

.nav__links li a {
    text-decoration: none;
    transition: all 0.3s;
}

.nav__links li a:hover {
    color: red;
}

.nav__links li {
    order: 1;
    display: inline-block;
    padding: 0px 20px;
}

.vl {
    border-left: 1px solid black;
    height: 500px;
    position: absolute;
    margin: 5% 50% 10% 50%;
}

.material-icons {
    cursor: pointer;
}

.four {
    box-sizing: border-box;
    margin-right: 20px;
}

.four a {
    text-decoration: none;
    transition: all 0.3s;
}

.four a:hover {
    color: red;
}

.four a:last-child {
    order: 2;
    margin: 0 20px;
}

.landingForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.landingForm .content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 30px;
    flex: 1;
}

.landingForm .content input {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    font-family: inherit;
    text-indent: 5px;
}

button {
    margin-top: 10px;
}

.searchInput {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid;
    font-family: inherit;
    text-indent: 5px;
}

.homeContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: fit-content;
    min-width: 400px;
    margin: 30px 30px ;
}

.carousel {
    width: 600px;
    height: 400px;
    border-radius: 20%;
    border: 3px solid black;
    cursor: pointer;
}

.productContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background-color: lightblue;
}

.row {
    width: 700px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row img {
    margin: 10px 10px;
}

.chevronRight {
    transform: scale(2.5);
    margin-left: 10px;
}

.chevronLeft {
    transform: scale(2.5);
    margin-right: 10px;
}

.tile {
    border-radius: 10%;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.4);
}

.sidebar {
    position: absolute;
    top: 77px;
    right: -50px;
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
    transition: all .4s;
    z-index: 10;
}

.sidebar ul li {
    min-width: max-content;
}

.sidebar ul a {
    text-decoration: none;
}

.sidebar ul li:hover {
    color: red!important;
    cursor: pointer;
}

.profilePic {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100%;
    margin-top: 100px;
}

.span1 {
    width: 50%;
}

.span2 {
    width: 50%;
}

.registryContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;

    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    order: 0;
}

.label div {
    display: inline-block;
}

.empty {
    order: 1;
    width: 30px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    order: 2;
}

.data div {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.personalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}